__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec
.env
*.log
.pytest_cache/
.cache/
*.exe
ssl/*.pem
ssl/*.key
*.pem
*.key
agent_builds/
__pycache__/
server/__pycache__/
client_agent/__pycache__/
admin_desktop/__pycache__/
server/.pytest_cache/
server/app/__pycache__/
server/app/**/__pycache__/
server/alembic/versions/*.pyc
server/alembic/__pycache__/
.venv/
venv/
